layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane {
        pane split_direction="vertical" {
            pane size="75%" {
                name "nvim"
                command "nvim"
                args "."
            }
            pane size="25%" split_direction="horizontal" {
                pane size="50%" {
                    name "term"
                }
                pane size="50%" {
                    name "git"
                    command "lazygit"
                }
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}